---
export interface Props {
  href: string;
  title: string;
  image: string;
  description: string;
}

const { href, title, image, description } = Astro.props;
---

<article class="card">
  <a href={href}>
    <h3 class="card-title">
      {title}
    </h3>
  </a>
  <a class="image-container" href={href}>
    <img src={image} alt={title} />
  </a>
  <p class="description">{description}</p>
</article>
<style>
  a {
    color: inherit;
  }
  .card-title {
    margin-bottom: 1rem;
    transition: 0.5s;
  }
  .card-title:hover {
    color: rgb(148, 66, 0);
  }
  .image-container {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    position: relative;
  }
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .description {
    margin-top: 0.25rem;
  }
</style>
